{% extends 'base.html' %}
{% block content %}
<h1>Capybaras Corner</h1>
<h5>Name: Daffa Naufal Rahadian</h5>
<h5>Class: PBP D</h5>

<h4>Produk:</h4>
<h5>Nama: </h5>
<p>{{name}}</p> 
<h5>Harga: </h5>
<p>{{price}}</p> 
<h5>Chill-level:</h5>
<p>{{chill_level}}</p>
<h5>Deskripsi: </h5>
<p>{{description}}</p>


{% if not product_entries %}
<p>Belum ada data mood pada Capybaras Corner.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Chill Level</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.chill_level}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>
{% endblock content %}